node_modules
**/node_modules
**/dist
**/.next
**/.turbo
**/coverage
**/*.tsbuildinfo
.git
.github
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
apps/web
tests
docs
mockdata
infrastructure
*.md
.DS_Store
playwright-report
test-results
