.git
.github
node_modules
**/node_modules
**/.next
**/dist
**/.turbo
**/coverage
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
apps/web
tests
mockdata
playwright-report
test-results
*.tsbuildinfo
.DS_Store
